body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 30px;
}

#header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    font-family: 'Georgia', serif;
    font-weight: bold;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

figure {
    margin: 0px;
}

.header-figure {
    width: 20px;
    height: 20px;
}

.section-title {
    color: #006400;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    background-color: white;
}

a[href^="mailto:"] {
    color: #333;
    font-style: italic;
    text-decoration: none;
}

a[href^="mailto:"]:hover {
    color: #1e90ff;
    text-decoration: underline;
}

a:hover {
    color: #1e90ff;
    text-decoration: none;
}

.bold-text {
    font-weight: bold;
}

.italic-text {
    font-style: italic;
}

ul {
    list-style-type: square;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
